TYPE= # DEVELOPMENT / PRODUCTION / LOCAL - to prevent accidental backup/restore to production database
DATABASE_URL= # postgres connection string, e.g. postgresql://postgres:password@localhost:5432/postgres
BACKUP_FOLDER_PATH= # folder path to store backup files, e.g. backup
RESTORE_FOLDER_PATH= # folder path to read backup files for restore, e.g. backup


